{{> head }}
{{> navbar }}

<h1 style="color: #343a40; text-align: center;">Editar noticia</h1>
<form action="/editar_noticia/{{id}}" method="post">
  <div class="form-group" style="width: 50%; margin-right:auto;  margin-left: auto;  padding-top: 50px;">
    <small class="text-muted">Autor: {{autor}}</small>
    <label for="" style="color: #343a40;">Titular:</label>
    <input type="text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week"
      class="form-control" name="titular" id="" aria-describedby="helpId" placeholder="" value="{{titular}}">
    <small id="helpId" class="form-text text-muted">Titular de la noticia.</small>
    <hr>
    <label for="" style="color: #343a40;">Cuerpo de la noticia:</label>
    <textarea type="text|password|email|number|submit|date|datetime|datetime-local|month|color|range|search|tel|time|url|week"
      class="form-control" name="cuerpoNoticia" id="" aria-describedby="helpId" placeholder="">{{cuerpoNoticia}}
      </textarea>
    <small id="helpId" class="form-text text-muted">Contenido de la noticia.</small>
    <hr>
    <label for="" style="color: #343a40;">Clave de noticia:</label>
    <input type="password" class="form-control" name="clave" id="" aria-describedby="helpId" placeholder="" value="" required="required">
    <hr>
    {{#if clave}}
    <input type="submit" class="btn btn-large btn-block btn-primary" style="background-color: #343a40; width: 50%; float: left;" value="Listo" src="/editar_noticia/{{id}}">
    <input type="submit" class="btn btn-large btn-block btn-primary" style="background-color: #c0392b ; width: 50%;" value="Eliminar" src="/delete/{{id}}">
    {{/if}}
  </div>
</form>





{{> footer }}